<p-drawer
  [closable]="false"
  [modal]="false"
  [styleClass]="
    isVisible()
      ? 'border-none bg-transparent transform translate-y-0'
      : 'border-none transform translate-y-full'
  "
  [visible]="true"
  position="bottom"
>
  <ng-template #headless>
    <div
      #trashDrop
      (cdkDropListDropped)="drop($event)"
      (cdkDropListEntered)="
        entered($event);
        trashDrop.classList.add(
          'bg-[radial-gradient(at_center_bottom,var(--p-red-500)_0%,transparent_70%)]'
        )
      "
      (cdkDropListExited)="
        trashDrop.classList.remove(
          'bg-[radial-gradient(at_center_bottom,var(--p-red-500)_0%,transparent_70%)]'
        )
      "
      [cdkDropListData]="dropListContainer"
      cdkDropList
      class="h-full z-auto flex justify-center items-end bg-[radial-gradient(at_center_bottom,var(--p-red-500)_0%,transparent_40%)]"
      id="trashDrop"
    >
      <span class="animate-bounce text-xl pi pi-trash w-8 h-8 text-center">
      </span>
    </div>
  </ng-template>
</p-drawer>

<p-toast position="bottom-right" />
<p-confirmdialog />
