@if (columnService.isLoading()) {
  <div class="min-h-full flex justify-center items-center">
    <p-progress-spinner
      strokeWidth="8"
      fill="transparent"
      animationDuration=".5s"
      [style]="{ width: '50px', height: '50px' }"
    />
  </div>
} @else if (columnService.error()) {
  <div class="min-h-full flex justify-center items-center">
    <div class="text-red-500">{{ columnService.error() }}</div>
  </div>
} @else {
  <div
    cdkDropList
    cdkDropListGroup
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropColumn($event)"
    class="flex flex-row min-h-[50rem] h-[90vh] pb-2 gap-4"
  >
    @for (column of columns$(); track column.id) {
      <board-column cdkDrag [cdkDragData]="column" [column]="column" />
    }
  </div>
}
