<p-button
  (click)="toggleDarkMode()"
  [icon]="iconClass()"
  class="float-right"
  variant="text"
/>

@if (columnService.isLoading()) {
  <div class="p-8 min-h-screen flex justify-center items-center">
    <p-progress-spinner
      strokeWidth="8"
      fill="transparent"
      animationDuration=".5s"
      [style]="{ width: '50px', height: '50px' }"
    />
  </div>
} @else if (columnService.error()) {
  <div class="p-8 min-h-screen flex justify-center items-center">
    <div class="text-red-500">{{ columnService.error() }}</div>
  </div>
} @else {
  <div
    cdkDropList
    cdkDropListGroup
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropColumn($event)"
    class="flex flex-row p-8 min-h-screen gap-4 overflow-x-auto flex-shrink-0"
  >
    @for (column of columns$(); track column.id) {
      <board-column cdkDrag [cdkDragData]="column" [column]="column" />
    }
  </div>
}
