:host {
  display: block;
  height: 100svh;
  width: 100svw;
  background-color: var(--p-content-background);
  background-image: url("/assets/images/broken-noise.webp");
  background-repeat: repeat;
}
