<div
  class="column-list flex flex-col h-full relative shadow-md rounded-lg px-2 w-72"
>
  <div class="flex flex-row justify-between items-start">
    <div class="mb-1">
      <inplace-input
        (saved)="editTitle($event)"
        [(value)]="column().title"
        class="text-md font-semibold"
      />

      <inplace-input
        (saved)="editDescription($event)"
        [(value)]="column().description"
        class="subtitle text-sm"
      />
    </div>

    <action-menu (delete)="onDelete()" (edit)="onEdit()" />
  </div>

  <div
    (cdkDropListDropped)="dropCard($event)"
    [cdkDropListData]="column().cards"
    cdkDropList
    class="flex flex-col gap-3 h-[90%] overflow-y-auto scroll-smooth overscroll-contain py-1"
  >
    @for (card of newCards(); track card.id; let idx = $index) {
      <inplace-input
        (saved)="saveNewCard($event, card, idx)"
        placeholder="Enter a title for this card"
        [(value)]="card.title"
        [isActive]="true"
        class="text-md font-semibold"
      />
    }

    @for (card of column().cards; track card.id) {
      <card-body cdkDrag [cdkDragData]="card" [card]="card" />
    }
  </div>

  <add-card-button (addCard)="onAddCard()" />
</div>
